.user-info-wrapper {
    position: absolute; 
    left: 10px; 
    top: 4px; 
    z-index: 999;
    height: 30px;

    .initials {
        display: inline-block; 
        height: 30px; 
        width: 30px; 
        vertical-align: middle; 
        line-height: 30px; 
        text-align: center; 
        color: #FFF; 
        font-weight: 600; 
        border-radius: 50%;
    }

    .user-name {
        display: inline-block; 
        font-size: 13px; 
        color:#e96663; 
        line-height: 15px; 
        margin-left: 10px;
    }
}