@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/noah-text/Noah-Text-Black-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/noah-text/Noah-Text-Black.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/noah-text/Noah-Text-ExtraBold-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/noah-text/Noah-Text-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/noah-text/Noah-Text-Bold-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/noah-text/Noah-Text-Bold.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/noah-text/Noah-Text-Heavy-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/noah-text/Noah-Text-Heavy.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/noah-text/Noah-Text-Medium-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/noah-text/Noah-Text-Medium.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/noah-text/Noah-Text-Regular-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/noah-text/Noah-Text-Regular.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/noah-text/Noah-Text-Light-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/noah-text/Noah-Text-Light.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 200;
  src: url('/assets/fonts/noah-text/Noah-Text-UltraLight-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/noah-text/Noah-Text-UltraLight.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/noah-text/Noah-Text-Thin-Italic.woff') format('woff');
}

@font-face {
  font-family: "Noah Text";
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/noah-text/Noah-Text-Thin.woff') format('woff');
}
